<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; by <a href='http://ejukeaban.com/'>Emmanuel Jucaban </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
